.container {
    background-color: #FFE600;
    width: 100vw;
    height: 100vh;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 2.4rem;
    position: absolute;
    top: 3%;
    left: 2%;
    animation: fadeOutRigth 0.5s;
}

.wppContainer {
    position: fixed;
    bottom: 14.5%;
    left: 2%;
}
