.portfolioContainer {
    width: 100vw;
    height: 100vh;
    background-color: #F8354C;
    min-height: 600px;
    color: white;
}

.wrapper {
    max-width: 1380px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 30px;
    margin: 10px 0 0 20px;
    position: relative;
    z-index: 1;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    position: absolute;
    font-weight: 400;
    font-size: 45px;
    left: 50%;
    transform: translateX(-50%);
}