.portfolioContainer {
    width: 100vw;
    height: 100vh;
    background-color: #F8354C;
    min-height: 600px;
    color: white;
}

.wrapper {
    max-width: 1380px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 30px;
    margin: 10px 0 0 20px;
    position: relative;
    z-index: 1;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    position: absolute;
    font-weight: 400;
    font-size: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.siteContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.site {
    background-color: white;
    display: flex;
    width: 83%;
    margin-top: 40px;
    border-radius: 5px;
    height: 390px;
}

.sinopse {
    width: 45%
}

.sinopseWrapper {
    background-color: blue;
}

.date {
    color: #F93362;
}

.titleSinopse {
    color: #F93362;
    font-weight: 500;
}

.descriptionSinopse {
    color: black;
}

.goProject {
    color: #F93362;
    text-decoration: none;
}

.imgSinopse {
    width: 55%;
}

.imgSinopse > img {
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0px;
}