.portfolioContainer {
    width: 100vw;
    height: 100vh;
    background-color: #F8354C;
    min-height: 600px;
    color: white;
    color: #F8354C;
}

.wrapper {
    max-width: 1380px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 30px;
    margin: 10px 0 0 20px;
    position: relative;
    z-index: 1;
    animation: fadeOutRigth 1s;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    position: absolute;
    font-weight: 400;
    font-size: 45px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    animation: fadeOutDown 0.5s;
}

.siteContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    animation: fadeOut 1s;
}

.site:hover .titleSinopse, .site:hover .date  {
    color: #F8446E;
}

.site {
    background-color: white;
    display: flex;
    width: 80%;
    margin-top: 40px;
    border-radius: 5px;
    height: 420px;
    margin-bottom: 20px;
    
}

.siteReverse {
    background-color: white;
    display: flex;
    width: 80%;
    margin-top: 40px;
    border-radius: 5px;
    height: 420px;
    flex-direction: row-reverse;
}

.sinopse {
    width: 45%;
    padding-left: 5%;
    padding-top: 80px;
    cursor: pointer;
    text-decoration: none;
}

.sinopseWrapper {
    width: 80%;
}

.date {
    color: #F93362;
}

.titleSinopse {
    color: #F93362;
    font-weight: 500;
    font-size: 2rem;
}

.descriptionSinopse {
    color: black;
    margin-bottom: 17px;
    font-weight: 600;
}

.goProject {
    color: #F93362;
    text-decoration: none;
}

.imgSinopse {
    width: 55%;
    cursor: pointer;
    padding: 5% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

.imgSinopse > .img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0px 11px 13px 0px rgba(0,0,0,0.57); 
    box-shadow: 0px 11px 13px 0px rgba(0,0,0,0.57);
}

.imgSinopse > .imgReverse {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    -webkit-box-shadow: 0px 11px 13px 0px rgba(0,0,0,0.57); 
    box-shadow: 0px 11px 13px 0px rgba(0,0,0,0.57);
}

.imgSinopse > .imgfBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

@media (max-width: 1000px) { 
   .site, .siteReverse {
       width: 90%;
       }
}

@media (max-width: 720px) {
    .title {
        font-size: 1.9rem;
        margin-top: 5px;
    }

    .titleSinopse {
        font-size: 1.9rem;
        line-height: 1.2;
    }

    .logo {
        width: 20px;
    }

    .site, .siteReverse {
        flex-wrap: wrap;
        height: 470px;
        max-width: 400px;
    }

    .sinopse {
        width: 100%;
        padding-left: 5%;
        padding-top: 20px;
        cursor: pointer;
        text-decoration: none;
        height: 40%;
    }

    .imgSinopse {
        width: 55%;
        cursor: pointer;
        padding: 10% 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 60%;
    }
    
    .imgSinopse {
        width: 100%;
       
    }
}